header{
    width: 100%;
    height: 100px;
    display: flex;
    box-sizing: border-box;
    background-image: url(giflogo.gif); 
}
#header1{
    width: 50%;
    height: 100%;
    box-sizing: border-box;  
}
#header1 img {
    width: 70%;
    height: 100%; 
}
#header2{
    width: 50%;
    height: 100px;
    padding-right: 10px;
    text-align: center; 
    box-sizing: border-box; 
}
#header2 a{
 font-size: 30px;
}
h1{
    background-color: blue;
    color: white;
}
section {
    width: 100%;
    height: 600px;
    display: flex;
}
.section-10{
    width: 70%;
    height: 100%;
}
.section10-1{
    width: 100%;
    height: 50%;
    display: flex;
}
.section-20{
    width: 30%;
    height: 100%;
    border: 1px solid green;
}
.section-20 h2{
 background-color: green;
 margin-top: 0px;
 text-align: center;
 color: white;
}
.section-20 ul li{
    font-size: 30px;
    list-style: none;
   }
.section-20 p{
    margin-top: 0px;
   }
.section-11{
    width: 50%;
    height: 100%;
    text-align: center;
    border: 1px solid blue;
    margin-right: 10px;
    box-sizing: border-box; 
}
.section-11 h2{
    margin-top: 0px;
    background-color: blueviolet;
}
.section-11 table input{
    background-image: url(gif1.gif);
    background-repeat: repeat;
   background-size: contain;
   size: 80px;
   color: white;
   font-weight: bold;
    }

.section-11 table {
align-items: center;
}
.section-12{
    width: 50%;
    height: 100%;
    border: 1px solid blue;
    text-align: center;
    margin-right: 10px;
    box-sizing: border-box; 
}
.section-12 h2{
    margin-top: 0px;
   background-color: blueviolet;
   text-align: center;
}
.section-12 a{
    background-color: yellow;
    border: 1px solid blue;
    padding: 5px 20px 5px 20px;
    font-size: 30px;
 }
 .section-12 h3,ul li{
  text-align: left;
  padding: 0px 5px 0px 5px;
  box-sizing: border-box; 
 }
 .section-12 ul li{
    font-size:large; 
  font-weight: bold;
   }
.section-13{
    width: 100%;
    height: 50%;
    display: flex;
}
.section-13 a{
   font-size: 30px;
}
.section-13 img{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    
}
.section13-1{
width: 33%;
height: 100%;
margin-right: 20px;
box-sizing: border-box;
text-align: center;
}
.section13-2{
    width: 33%;
    height: 100%;
    margin-right: 20px;
    box-sizing: border-box;
    text-align: center;
}
.section13-3{
    width: 33%;
    height: 100%; 
    text-align: center;
}

